*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
body{
    background-color: black;
}
.hero-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url(Images/hero_section\ img.png);
    background-size: 92% 100%;
    background-position: center; 
    background-repeat: no-repeat
}

.nav-bar{
    width: 100%;
    height: 80px;
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav-side{
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    left: 100px;
}

.left-nav-side img{
    width: 159px;
    height: 32px;
}

.left-nav-side ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.links a{
    text-decoration: none;
    font-size: 0.90rem;
    color: white;
    font-weight: 600;

}

.nav-bar button{
    width: 124px;
    height: 44px;
    border-radius: 50px;
    position: relative;
    right: 130px;
}

.nav-bar i{
    display: none;
}

/* content iside hero section */

.content-hero{
     color: white;
    width: 630px;
    height: 390px;  
    position: relative;
    top: 100px;
    left: 130px;
    display: grid;
    flex-direction: column;
}

.content-hero h1{
    font-weight: 400;
    font-size: 3rem;
    width: 95%;
    line-height: 1.1;
}

.content-hero p{
    font-size: 0.90rem;
    width: 95%;    
}

.content-hero button{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 191px;
    height: 64px;
    border-radius: 50px;
    background-color: transparent;
    border-color: white;
    gap: 10px;
}




/* Shop Section */


.shop-section{
    justify-self: center;
    width: 100%;
    height: 100vh;
    background-color: white; 
}

.shop-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.shop-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.shop-nav h3{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Featured Products */

.featured-products{
    width: 70%;
    height: 75.33%;
    position: relative;
    top: 13%;
    left: 15%;
}

.featured-nav{
    margin-top: 10px;
    height: 7%;
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-nav h3{
    font-size: 1.4rem;
    font-weight: 500;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 25px;
    width: 20%;
    margin-right: 5px;
}

.search-box .icon {
    color: gray;
    margin-right: 8px;
}

.search-box input {
    border: none;
    background: none;
    font-size: 16px;
}

/* tab menu */

.tab-menu {
    position: relative;
    top: -2%;
    left: 25%;
    width: 40%;
    display: flex;
    gap: 15px;
    padding: 10px;
}

.tab {
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: gray;
    background: white;
    cursor: pointer;
}

.tab.active {
    background: #1c2331;
    color: white;
}


/* product images */


.product-images{
    position: relative;
    right: 1%;
    height: 55vh;
    width: 100%;
    display: flex;
    gap: 1%;
}

.p-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.one{
    background-image: url(Images/Product\ Card.png);
}

.two{
    background-image: url(Images/Product\ Card\ \(1\).png);
}

.three{
    background-image: url(Images/Product\ Card\ \(2\).png);
}

.four{
    background-image: url(Images/Product\ Card.png);
}


/* Serivice Section */

.services-section{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.services-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.services-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.services-nav h3{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Pet Activities */

.activity-box{
    width: 50%;
    height: 70%;
    justify-self: center;
    position: relative;
    top: 13%;
    display: flex;
    justify-content: space-around;
}

.set-four{
    width: 60%;
    height: 80%;
    display: flex;
    position: relative;
    left: 1%;
    top: 9%;
    flex-wrap: wrap;
    gap: 2%;
    
    
}

.set-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 50%;
    border-radius: 4%;
}

.grooming{
    background-image: url(Images/grooming.png);
    background-size: 100% 100%;
}

.boarding{
    background-image: url(Images/boading.png);
    background-size: 100% 100%;
}

.veterinary{
    background-image: url(Images/veterniary.png);
    background-size: 100% 100%;
}

.training{
    background-image: url(Images/training.png);
    background-size: 100% 100%;
}


.big-main{
    position: relative;
    top: 9%;
    width: 34.05%;
    height: 80%;
    background-image: url(Images/adoption.png);
    background-size: 100% 100%;
}

/* Aboutus Section */

.aboutus-section{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.aboutus-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.aboutus-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.aboutus-nav h3{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Aboutus Para Section */

.about-para-section{
    width: 70%;
    height: 75vh;
    border: 2px solid black;
    position: relative;
    top: 15%;
    justify-self: center;
    display: flex;
}

.left-para-section{
    width: 50%;
    height: 100%;
    line-height: 1.18;
    
}


.right-para-section{
    width: 50%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
}






















 




/* Responsive Design */


/* For Mobiles phones */

@media (max-width:767px) {

    /* Hero section */
    .hero-section{
        width: 100%;
        height: 90vh;
        background-color: pink;
        background-image: url(Images/hero_section\ img.png);
        background-size: cover;
        background-position: center;
    }

    .nav-bar{
        width: 100%;
        height: 80px;
        color: wheat;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .left-nav-side{
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;
        left: 30px;
    }
    
    .left-nav-side img{
        width: 159px;
        height: 32px;
        position: relative;
        bottom: 10px;
    }
    
    .left-nav-side ul{
        display: flex;
        list-style: none;
        gap: 30px;
        display: none;
    }
    
    .links a{
        text-decoration: none;
        font-size: 0.90rem;
        color: white;
        font-weight: 600;
        display: none;
    
    }
    
    .nav-bar button{
        width: 124px;
        height: 44px;
        border-radius: 50px;
        position: relative;
        right: 35px;
        display: none;
    }

    .nav-bar i{
        display: block;
        position: relative;
        right: 20px;
        bottom: 10px;
        font-size: 1.3rem;
    }

    /* content iside hero section */

.content-hero{
   color: white;
   width: 313px;
   height: 420px;
   position: relative;
   top: 100px;
   left: 20px;
   display: grid;
   flex-direction: column; 
}

.content-hero h1{
   font-weight: 400;
   font-size: 2rem;
   width: 100%;
   line-height: 1.2;
}

.content-hero p{
   font-size: 0.80rem;
   width: 100%;   
}

.content-hero button{
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 191px;
   height: 64px;
   border-radius: 50px;
   background-color: transparent;
   border-color: white;
   gap: 10px;
}

/* Shop Section */


.shop-section{
    justify-self: center;
    width: 100%;
    height: 180vh;
    background-color: white; 
}

.shop-nav{
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
    top: 30px;
}

.shop-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.shop-nav h3{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Featured Products */

.featured-products{
    width: 90%;
    height: auto;
    border: none;
    border-left: none;
    position: relative;
    top: 3%;
    left: 0;
    justify-self: center;
}

.featured-nav{
    margin-top: 10px;
    height: 7%;
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-nav h3{
    font-size: 1rem;
    font-weight: 500;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 25px;
    width: 20%;
    margin-right: 5px;
    display: none;
}

.search-box .icon {
    color: gray;
    margin-right: 8px;
}

.search-box input {
    border: none;
    background: none;
    font-size: 16px;
}

/* tab menu */

.tab-menu {
    position: relative;
    top: -2%;
    left: -5%;
    right: 10%;
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 10px;
}

.tab {
    padding: 10px 9px;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    background: white;
    cursor: pointer;
}

.tab.active {
    background: #1c2331;
    color: white;
}


/* product images */


.product-images{
    position: relative;
    right: 1%;
    height: 55vh;
    width: 100%;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
}

.p-img{
    background-size: cover;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.one{
    background-image: url(Images/Product\ Card.png);
}

.two{
    background-image: url(Images/Product\ Card\ \(1\).png);
}

.three{
    background-image: url(Images/Product\ Card\ \(2\).png);
}

.four{
    background-image: url(Images/Product\ Card.png);
    display: none;
}

/* Serivice Section */

.services-section{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.services-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.services-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.services-nav h3{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Pet Activities */

.activity-box{
    width: 100%;
    height: 70vh;
    justify-self: center;
    position: relative;
    top: 13%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.set-four{
    width: 95%;
    height: 70%;
    display: flex;
    position: relative;
    left: 0;
    top: 1%;
    flex-wrap: wrap;
    gap: 2%;
    
    
}

.set-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 50%;
    border-radius: 4%;
}

.grooming{
    background-image: url(Images/grooming.png);
    background-size: 100% 100%;
}

.boarding{
    background-image: url(Images/boading.png);
    background-size: 100% 100%;
}

.veterinary{
    background-image: url(Images/veterniary.png);
    background-size: 100% 100%;
}

.training{
    background-image: url(Images/training.png);
    background-size: 100% 100%;
}


.big-main{
    position: relative;
    top: 3%;
    left: 0;
    width: 95%;
    height: 35%;
    background-image: url(Images/adoption-mobile.png);
    background-size: 100% 100%;
}
    
}








/* For Mini tablets */

@media (min-width: 767px) and (max-width: 1023px) {

    /* Hero Section */
    .hero-section{
        width: 100%;
        height: 90vh;
        background-color: pink;
        background-image: url(Images/hero_section\ img.png);
        background-size: cover;
        background-position: center;
    }

    .nav-bar{
        width: 100%;
        height: 80px;
        color: wheat;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .left-nav-side{
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;
        left: 50px;
    }
    
    .left-nav-side img{
        width: 200px;
        height: 40px;
        position: relative;
        bottom: 10px;
    }
    
    .left-nav-side ul{
        display: flex;
        list-style: none;
        gap: 30px;
        display: none;
    }
    
    .links a{
        text-decoration: none;
        font-size: 0.90rem;
        color: white;
        font-weight: 600;
        display: none;
    
    }
    
    .nav-bar button{
        width: 124px;
        height: 44px;
        border-radius: 50px;
        position: relative;
        right: 35px;
        display: none;
    }

    .nav-bar i{
        display: block;
        position: relative;
        right: 40px;
        bottom: 10px;
        font-size: 1.5rem;
    }

    /* content iside hero section */

.content-hero{
    color: white;
    width: 313px;
    height: 420px;
    position: relative;
    top: 70px;
    right: 0;
    left: 60px;
    display: grid;
    flex-direction: column; 
 }
 
 .content-hero h1{
    font-weight: 400;
    font-size: 2rem;
    width: 100%;
    line-height: 1.2;
 }
 
 .content-hero p{
    font-size: 0.80rem;
    width: 100%;   
 }
 
 .content-hero button{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 191px;
    height: 64px;
    border-radius: 50px;
    background-color: transparent;
    border-color: white;
    gap: 10px;
 }

 /* Shop Section */


.shop-section{
    justify-self: center;
    width: 100%;
    height: 123vh;
    background-color: white; 
}

.shop-nav{
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
    top: 40px;
}

.shop-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.shop-nav h3{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 15px;
}

/* Featured Products */

.featured-products{
    width: 90%;
    height: auto;
    border: none;
    border-left: none;
    position: relative;
    top: 5%;
    left: 0;
    justify-self: center;
}

.featured-nav{
    margin-top: 10px;
    height: 7%;
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-nav h3{
    position: relative;
    bottom: 16px;
    font-size: 1.5rem;
    font-weight: 500;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 25px;
    width: 20%;
    margin-right: 5px;
    display: none;
}

.search-box .icon {
    color: gray;
    margin-right: 8px;
}

.search-box input {
    border: none;
    background: none;
    font-size: 16px;
}

/* tab menu */

.tab-menu {
    justify-content: center;
    position: relative;
    top: -2%;
    left: 0%;
    right: 0%;
    width: auto;
    display: flex;
    gap: 5px;
    padding: 10px;
}

.tab {
    padding: 10px 11px;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    background: white;
    cursor: pointer;
}

.tab.active {
    background: #1c2331;
    color: white;
}


/* product images */


.product-images{
    position: relative;
    right: 1%;
    height: 55vh;
    width: auto;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
}

.p-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 48%;
    height: 50vh;
    border-radius: 10px;
}

.one{
    background-image: url(Images/Product\ Card.png);
}

.two{
    background-image: url(Images/Product\ Card\ \(1\).png);
}

.three{
    background-image: url(Images/Product\ Card\ \(2\).png);
}

.four {
    background-image: url(Images/Product\ Card.png);
}


/* Serivice Section */

.services-section{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.services-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.services-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.services-nav h3{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}


/* Pet Activities */

.activity-box{
    width: 100%;
    height: 70vh;
    justify-self: center;
    position: relative;
    top: 13%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.set-four{
    width: 80%;
    height: 70%;
    display: flex;
    position: relative;
    left: 1%;
    top: 1%;
    flex-wrap: wrap;
    gap: 2%;
    
    
}

.set-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 53%;
    border-radius: 4%;
}

.grooming{
    background-image: url(Images/grooming.png);
    background-size: 100% 100%;
}

.boarding{
    background-image: url(Images/boading.png);
    background-size: 100% 100%;
}

.veterinary{
    background-image: url(Images/veterniary.png);
    background-size: 100% 100%;
}

.training{
    background-image: url(Images/training.png);
    background-size: 100% 100%;
}


.big-main{
    position: relative;
    top: 8%;
    left: 1%;
    width: 80%;
    height: 38%;
    background-image: url(Images/adoption-mobile.png);
    background-size: 100% 100%;
}
   
}









/* For larger tablets and laptops and small desktops */

@media (min-width: 1024px) and (max-width: 1279px){

      /* Hero Section */
    .hero-section{
        width: 100%;
        height: 100vh;
        background-image: url(Images/hero_section\ img.png);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat
    }
    
    .nav-bar{
        width: 100%;
        height: 80px;
        color: wheat;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .left-nav-side{
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;
        left: 50px;
    }
    
    .left-nav-side img{
        width: 159px;
        height: 32px;
    }
    
    .left-nav-side ul{
        display: flex;
        list-style: none;
        gap: 30px;
    }
    
    .links a{
        text-decoration: none;
        font-size: 1rem;
        color: white;
        font-weight: 600;
    
    }
    
    .nav-bar button{
        width: 124px;
        height: 44px;
        border-radius: 50px;
        position: relative;
        right: 35px;
    }
    
    .nav-bar i{
        display: none;
    }

    .content-hero{
        color: white;
       width: 630px;
       height: 390px;  
       position: relative;
       top: 150px;
       left: 40px;
       display: grid;
       flex-direction: column;
   }

   .content-hero h1{
    width: 80%;
   }

   .content-hero p{
    width: 80%;
   }

   .shop-section{
    justify-self: center;
    width: 100%;
    height: 80vh;
    background-color: white; 
}

.shop-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.shop-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.shop-nav h3{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Featured Products */

.featured-products{
    width: 70%;
    height: 75.33%;
    position: relative;
    top: 13%;
    left: 15%;
}

.featured-nav{
    margin-top: 10px;
    height: 7%;
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-nav h3{
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    bottom: 30px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 25px;
    width: 20%;
    margin-right: 5px;
    position: relative;
    bottom: 30px;
}

.search-box .icon {
    color: gray;
    margin-right: 8px;
}

.search-box input {
    border: none;
    background: none;
    font-size: 16px;
}

/* tab menu */

.tab-menu {
    position: relative;
    top: -2%;
    left: 17%;
    width: 40%;
    display: flex;
    gap: 15px;
    padding: 10px;
}

.tab {
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: gray;
    background: white;
    cursor: pointer;
}

.tab.active {
    background: #1c2331;
    color: white;
}


/* product images */


.product-images{
    position: relative;
    right: 1%;
    height: 55vh;
    width: 100%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;    
}

.p-img{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
}

.one{
    background-image: url(Images/Product\ Card.png);
}

.two{
    background-image: url(Images/Product\ Card\ \(1\).png);
}

.three{
    background-image: url(Images/Product\ Card\ \(2\).png);
}

.four{
    background-image: url(Images/Product\ Card.png);
}

/* Serivice Section */

.services-section{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.services-nav{
    width: 80%;
    border-bottom: 2px solid #ccc;
    position: relative;
    top: 10%;
    left: 10%;
    height: 4%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.services-nav img{
    width: 27.09px;
    height: 24.54px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.services-nav h3{
    font-size: 1.7em;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Pet Activities */

.activity-box{
    width: 80%;
    height: 50%;
    justify-self: center;
    position: relative;
    top: 13%;
    display: flex;
    justify-content: space-around;
}

.set-four{
    width: 60%;
    height: 80%;
    display: flex;
    position: relative;
    left: 1%;
    top: 9%;
    flex-wrap: wrap;
    gap: 2%;
    
    
}

.set-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 50%;
    border-radius: 4%;
}

.grooming{
    background-image: url(Images/grooming.png);
    background-size: 100% 100%;
}

.boarding{
    background-image: url(Images/boading.png);
    background-size: 100% 100%;
}

.veterinary{
    background-image: url(Images/veterniary.png);
    background-size: 100% 100%;
}

.training{
    background-image: url(Images/training.png);
    background-size: 100% 100%;
}



.big-main{
    position: relative;
    top: 9%;
    width: 34.05%;
    height: 81.5%;
    background-image: url(Images/adoption.png);
    background-size: 100% 100%;
}


}
